// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018 Stefan Roese <sr@denx.de>
 */

/dts-v1/;

#include "mt7628a.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "onion,omega3", "ralink,mt7628a-soc";
	model = "Onion Omega3";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x08000000>;
	};

	chosen {
		stdout-path = &uart0;
	};
};

&pinctrl {
	state_default: pin_state {
		p0led {
			groups = "p0led_a";
			function = "led";
		};
	};
};

&uart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	num-cs = <2>;

	pinctrl-names = "default";
	pinctrl-0 = <&spi_dual_pins>;

	spi-nor@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <40000000>;
		reg = <0>;
	};

	spi-nand@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		spi-max-frequency = <40000000>;
		reg = <1>;
	};
};

&eth {
	pinctrl-names = "default";
	pinctrl-0 = <&ephy_iot_mode>;
	mediatek,poll-link-phy = <0>;
};

&mmc {
	status = "okay";

	bus-width = <4>;
	max-frequency = <48000000>;
	cap-sd-highspeed;
	cap-mmc-highspeed;

	pinctrl-names = "default";
	pinctrl-0 = <&sd_iot_mode>;
};
